* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.864);
  color: white;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1%;
  height: 100vh;
}

.left-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
}

.left-container .logo {
  margin-left: 10%;
}

.left-container .upper-navigation {
  margin-top: 3%;
}

.left-container .upper-navigation li {
  padding: 3%;
  margin-bottom: 2%;
  border-radius: 20px;
  gap: 2%;
}
.left-container .upper-navigation li:hover {
  background-color: gray;
  border: 1px white solid;
}

.left-container .lower-navigation {
  margin-top: 95%;
}

.left-container .lower-navigation li {
  padding: 3%;
  margin-bottom: 2%;
  border-radius: 20px;
  gap: 2%;
}

.left-container .lower-navigation li:hover {
  background-color: gray;
  border: 1px white solid;
}

ul {
  list-style: none;
}

.right-container {
  width: 74%;
  background-color: rgb(51, 50, 50);
  justify-content: center;
  align-content: center;
}

#content-frame {
  overflow-y: hidden;
}
